Repository nondefyde/nest-microservice-biolerplate: changes, and which CircleCI parameters are due for each by the changed paths.
All: config-updated, shared-lib-updated, templates-updated, ci-updated, run-api-workflow, run-worker-workflow

completed basic
  docker/worker/Dockerfile
  package.json
Due: config-updated, run-worker-workflow

completed basic
  libs/core/src/base/base.controller/base.controller.ts
Due: shared-lib-updated

completed basic
  .eslintrc.js
  _kubernetes/commands
  apps/finfrac-api/src/app.controller.ts
  apps/finfrac-api/src/auth/controller/auth.controller.ts
  apps/finfrac-api/src/auth/service/auth.service.ts
  apps/finfrac-email/src/finfrac-email.controller.ts
  apps/finfrac-email/src/finfrac-email.module.ts
  apps/finfrac-email/src/sendgrid/abstract/email-service.ts
  apps/finfrac-email/src/sendgrid/finfrac-email.service.ts
  apps/finfrac-email/src/sendgrid/interfaces/email-config-option.ts
  apps/finfrac-email/src/sendgrid/interfaces/email-option.ts
  apps/finfrac-email/src/sendgrid/interfaces/index.ts
  apps/finfrac-email/src/sendgrid/sendgrid.module.ts
  apps/finfrac-email/src/sendgrid/services/sendgrid.service.ts
  apps/finfrac-worker/src/finfrac-worker.controller.ts
  apps/finfrac-worker/src/finfrac-worker.module.ts
  apps/finfrac-worker/src/job/email/email.service.ts
  apps/finfrac-worker/src/job/job.module.ts
  apps/finfrac-worker/src/main.ts
  apps/finfrac-worker/src/media/service/media.service.ts
  libs/core/src/base/pgbase.service/pgbase.service.ts
  libs/core/src/core.module.ts
  libs/core/src/models/schemas/email-account/email-account.schema.ts
  libs/core/src/shared/common/app-response/app-response.ts
  libs/core/src/shared/enum/index.ts
  libs/core/src/shared/jobs/job.ts
  libs/core/src/shared/pipes/validation.pipe/validation.pipe.ts
  libs/core/src/shared/utils/utils.ts
Due: shared-lib-updated

completed basic
  _kubernetes/commands
  _kubernetes/ingress.stg.yml
Due: none

removed env
  .gitignore
  _env/.env
  _env/api/.env.local
  _env/worker/.env.local
Due: none

removed env
  apps/finfrac-api/src/app.controller.ts
  apps/finfrac-worker/src/finfrac-worker.controller.ts
  config/configuration.ts
Due: config-updated

fixed email
  apps/finfrac-api/src/app.module.ts
  apps/finfrac-api/src/auth/controller/auth.controller.ts
  apps/finfrac-api/src/auth/service/auth.service.ts
  apps/finfrac-api/src/auth/strategies/local.strategy.ts
  apps/finfrac-worker/src/finfrac-worker.module.ts
  config/configuration.ts
Due: config-updated

test: signup e2e
  apps/finfrac-api/src/app.controller.ts
  apps/finfrac-api/src/app.module.ts
  apps/finfrac-api/src/auth/controller/auth.controller.ts
  apps/finfrac-api/src/auth/service/auth.service.ts
  apps/finfrac-api/src/main.ts
  apps/finfrac-api/test/_lib/database/database.service.ts
  apps/finfrac-api/test/_lib/database/testcore.module.ts
  apps/finfrac-api/test/_lib/index.ts
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/_lib/stubs/user.stub.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
  apps/finfrac-api/test/jest-e2e.json
  apps/finfrac-email/src/finfrac-email.controller.ts
  apps/finfrac-email/src/sendgrid/abstract/email-service.ts
  apps/finfrac-email/src/sendgrid/finfrac-email.service.ts
  apps/finfrac-email/src/sendgrid/sendgrid.module.ts
  apps/finfrac-email/src/sendgrid/services/sendgrid.service.ts
  apps/finfrac-worker/src/finfrac-worker.controller.ts
  apps/finfrac-worker/src/finfrac-worker.module.ts
  apps/finfrac-worker/src/job/job.module.ts
  apps/finfrac-worker/src/main.ts
  apps/finfrac-worker/src/media/controller/media.controller.ts
  apps/finfrac-worker/src/media/service/media.service.ts
  libs/core/src/base/base.controller/base.controller.ts
  libs/core/src/base/base.service/base.service.ts
  libs/core/src/base/pgbase.service/pgbase.service.ts
  libs/core/src/core.module.ts
  libs/core/src/models/schemas/email-account/email-account.schema.ts
  libs/core/src/service/work.service.ts
  libs/core/src/shared/dto/auth/change-password.dto.ts
  libs/core/src/shared/dto/auth/sign-up.dto.ts
  libs/core/src/shared/pipes/validation.pipe/validation.pipe.ts
  libs/core/src/shared/utils/utils.ts
  package.json
Due: config-updated, shared-lib-updated

fixed e2e testing
  apps/finfrac-api/src/auth/auth.module.ts
  apps/finfrac-api/src/auth/service/auth.service.ts
  apps/finfrac-api/test/_lib/database/testcore.module.ts
  apps/finfrac-api/test/app.e2e-spec.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
  libs/core/src/core.module.ts
  libs/core/src/core.service.spec.ts
  libs/core/src/core.service.ts
  libs/core/src/index.ts
  libs/core/src/worker/index.ts
  libs/core/src/worker/worker.module.ts
Due: shared-lib-updated

test: signup e2e implementation
  apps/finfrac-api/src/auth/service/auth.service.ts
  apps/finfrac-api/test/_lib/database/testcore.module.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
  libs/core/src/worker/worker.module.ts
Due: shared-lib-updated

test: signin e2e implementation
  apps/finfrac-api/test/auth/sign-in.e2e-spec.ts
Due: none

test: password-reset e2e implementation
  apps/finfrac-api/test/auth/password-reset.e2e-spec.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
Due: none

test: reset password e2e implementation
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/auth/reset-password.e2e-spec.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
Due: none

test: change password e2e implementation
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/auth/change-password.e2e-spec.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
Due: none

test: send verification e2e implementation
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/auth/send-verification.e2e-spec.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
Due: none

test: verify email e2e implementation
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
  apps/finfrac-api/test/auth/verify-email.e2e-spec.ts
Due: none

test: verify mobile e2e implementation
  apps/finfrac-api/test/_lib/stubs/auth.stub.ts
  apps/finfrac-api/test/auth/sign-up.e2e-spec.ts
Due: none

test: verify mobile e2e implementation
  apps/finfrac-api/test/auth/verify-mobile.e2e-spec.ts
Due: none

added user endpoints
  apps/finfrac-api/src/app.module.ts
  apps/finfrac-api/src/user/controller/user.controller.ts
  apps/finfrac-api/src/user/index.ts
  apps/finfrac-api/src/user/service/user.service.ts
  apps/finfrac-api/src/user/user.module.ts
  libs/core/src/models/schemas/user/user.schema.ts
Due: shared-lib-updated

striped props from users
  libs/core/src/models/schemas/user/user.schema.ts
Due: shared-lib-updated

Path conditions:
  config-updated: (any of: package.json) or (any of: config/.*)
  shared-lib-updated: any of: libs/.*
  templates-updated: any of: templates/.*
  ci-updated: any of: .circleci/.*
  run-api-workflow: ((any of: _kubernetes/api/.*) or (any of: apps/api/.*)) or (any of: docker/api/.*)
  run-worker-workflow: (any of: apps/worker/.*) or (any of: docker/worker/.*)
